<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily ToDo</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="header">
    <h1><%=day%></h1>
    </div>
    <div class="container">
        <ul>
            <% for(let i=0;i<items.length;i++){ %>
                <form action="/delete" method="POST">
                    <li><input type="checkbox" name="checkbox" value="<%= items[i]._id %>"  id="checkbox" onchange="this.form.submit()">
                    <%=items[i].name%></li>
                    </form>
            <% } %>
        
        <form action="/" method="POST">
            <input type="text" name="item" class="Add_item"placeholder="Add a new item" required>
            <button >+</button>
        </form>
    </div>
    <div class="footer">
        <p>CopyRight &copy; <%=year%></p>
    </div>
</body>
</html>